#root {
  margin: 0 auto;
}

.home-banner {
  background-image: url("./assets/highschool.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.school-banner {
  background-image: url("./assets/register-banner.jpg");
}

.alt-school-banner {
  background-image: url("./assets/highschool.png");
}

.left-container {
  background-color: #FFFFFF;
  height: auto;
  width: 2in;
  bottom: 0rem;
  overflow: auto;
  padding: 1em;
  padding-top: 1.5em;
  border-radius: 15px;
  color: rgb(80, 80, 80);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  font-family: "opensans-semibold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 550;
  font-size: 14px;
  color: #707070;
  display: block;
  flex-direction: column;
  margin-left: 1in;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 10px solid #ccc;
}

.fixed-left-container {
  position: sticky;
  top: 2rem;
  z-index: 9999;
}

.left-container h6 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  color: rgb(60, 60, 60);
}

.left-container .Mui-selected {
  background-color: #e0f2f1 !important;
}

.left-container .Mui-selected:hover {
  background-color: #0f9ec6 !important;
}

.left-container .MuiListItemButton-root:hover {
  background-color: #ffffff;
  color: rgb(22, 161, 221);
  position: relative;
  padding-left: 6px; /* added padding */
}

.left-container .MuiListItemButton-root:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background-color: rgb(22, 161, 221);
}


.middle-containers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.middle-container {
  background-color: #FFFFFF;
  height: auto;
  width: 8in;
  overflow: auto;
  padding: 1em;
  border-radius: 15px;
  color: rgb(80, 80, 80);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  margin-left: 8em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.schoolpage-header {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display: flex;
  align-items: center;
  margin-left: 1in;
  font-size: 45px;
  color: white;
}


@media (max-width: 1260px) {
  .schoolpage-header {
    margin: 0;
    margin-left: 0.2in;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1260px) {
  .schoolpage-subtitle {
    margin: 0;
    margin-left: 0.2in;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1260px) {
  .left-container {
    margin-left: 0.2in;
    transition: all 0.5s ease;
  }
}

@media (max-width: 1260px) {
  .middle-container {
    transition: all 0.5s ease;
    margin-left: 6em;
  }
}

@media (max-width: 1175px) {
  .middle-container {
    width: 90%;
    transition: all 0.5s ease;
  }
}

@media (max-width: 1000px) {
  .middle-container {
    width: 85%;
    transition: all 0.5s ease;
  }
}

@media (max-width: 900px) {
  .schoolpage-header {
    font-size: 200%;
    transition: all 0.3s ease;
  }
}

@media (max-width: 900px) {
  .schoolpage-subtitle {
    font-size: 90%;
    transition: all 0.3s ease;
  }
}

@media (max-width: 900px) {
  .left-container {
    display: none;
  }
}

@media (max-width: 900px) {
  .middle-container {
    width: 90%;
    margin: 2rem auto;
    transition: all 0.5s ease;
  }
}

.school-profile {
  color: black;
  font-family: "Open Sans", sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 10px solid #ccc;
  padding-bottom: 40px;
}

.school-profile h2 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 0;
}

.school-profile h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0.1px;
  font-weight: 500;
  text-transform: uppercase;
}

.school-profile h4 {
  font-size: 15px;
  margin: 0px;
}

.school-profile p {
  color: #3a3a3a;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: justify;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.academics {
  color: black;
  font-family: "Open Sans", sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 10px solid #ccc;
}

.academics h2 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 0;
}

.academics h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0.1px;
  font-weight: 500;
  text-transform: uppercase;
}

.academics h4 {
  font-size: 15px;
  margin: 0px;
}

.academics p {
  color: #3a3a3a;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: justify;
}

.academic-list-items {
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 16px;
}

.academic-list-items-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.program-list-item {
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 10px;
}

.program-list-item .MuiListItemText-primary {
  font-weight: 600;
}

.program-list-item .MuiListItemText-secondary {
  margin-left: 25px;
  margin-right: 25px;
}


.contact-info-button {
  text-decoration: none;
  font-size: inherit; 
  color: inherit;
  text-transform: none;
  font-family: inherit;
}

.contact-info-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

.address-button {
  text-decoration: none;
  font-size: inherit; 
  color: inherit;
  text-transform: none;
  font-family: inherit;
}

.address-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

.score-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.score-bar {
  width: 40%;
  height: 1.5rem;
  margin-right: 1rem;
  background-color: #f5f5f5;
  position: relative;
}

.score-bar-filled {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #8BC34A;
  transition: width 0.5s;
}

.score-bar-text {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  position: relative;
  text-align: center;
  border: none;
}

.tooltip-pointer {
  border: solid transparent;
  border-width: 8px;
  height: 0;
  position: absolute;
  width: 0;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: rgba(0, 0, 0, 0.8);
}

.custom-tooltip p {
  margin: 0;
  font-size: 12px;
  color: white;
}

.recharts-legend-wrapper .recharts-legend-item {
  margin-bottom: 20px;
  position: relative;
  left: 30px
}


.legend-text {
  fill: black;
}

.info-icon {
  font-size: 20px;
  color: #16A1DD;
  justify-content: center;
  align-items: center
}

.info-icon:hover {
  background-color: transparent;
}


#scroll-to-top {
  position: fixed;
  width: 80px;
  height: 50px;
  bottom: 15%;
  right: -48px;
  background-color: #ccc;
  border: none;
  border-radius: 25px 0 0 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#scroll-to-top:hover {
  background-color: #ccc;
  color: #333;
  border-radius: 25px 0 0 25px;
  right: -10px; 
}

#scroll-to-top.hidden {
  display: none;
}

.school-image {
  float: right;
  margin-right: 20px;
  margin-top: -5%;
  margin-left: 25px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.circular-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.school-details p {
  width: 65%;
  text-align: justify;
  margin-right: 20px;
  text-align-last: left;
}

.school-name {
  position: absolute;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
  word-wrap: break-word;
  width: 200px;
  white-space: wrap;
  text-overflow: ellipsis;
  
}

@media screen and (max-width: 768px) {
  .school-image {
    float: none;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .school-name {
    position: static;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  
  .school-details p {
    width: 90%;
    margin: 0 auto;
  }
}

.rating-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-transform: none;
}

